:root {
	--main-bg: #f2f2f2;
	--white: #ffffff;
	--gray-text: #8e8e8e;
	--blue-a700: #2962ff;
	--primary-blue-700: #2f3367;
}

.login-wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-container {
	background-color: var(--main-bg);
	width: 100rem;
	height: 64rem;
	border-radius: 1rem;

	display: grid;
	grid-template-columns: 1fr 2fr;
}

.img-container {
	overflow: hidden;
}

/* .img-container img {
	object-fit: ;
} */

.form-container {
	display: flex;
	align-items: center;
}

.form-container h1 {
	color: var(--primary-blue-700);
	margin-bottom: 1rem;
}

.form-container form {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 12.5rem;
}

.form-container button {
	margin-top: 1rem;
	justify-content: space-evenly;
}
